body {
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FBF2F2;
}

.container {
    background-image: linear-gradient(to right, #5f66e2, #414478);
    border-radius: 0.4pc;
    border: none;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: vibrarLogo 1s infinite alternate;
}

.texto {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}


.info {
    align-items: center;
    justify-content: center;
    border-radius: 1cap;
    width: 120px;
    height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #FFFFFF;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.imagendato {
    display: none;
}

.info p {
    display: none;
}

.info svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.oraciones {
    margin-top: 40px;
    margin-left: 18%;
}

.oraciones p {
    margin-bottom: 40px;
    font-size: 20px;
}

.selected {
    transform: scale(1.1);
    border-color: rgb(153, 255, 0);
    color: black !important;
    background-color: rgb(210, 241, 197) !important;
}

.destroyed {
    opacity: 0.5;
    /* Reducir la opacidad */
    filter: grayscale(100%);
    pointer-events: none;
    /* Desactivar los eventos del mouse */
    cursor: default;
    /* Cambiar el cursor a predeterminado */
}


/* Estilos para los contenedores vacíos */
.contenedor {
    display: inline-block;
    vertical-align: middle;
    width: 89px;
    height: 40px;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 2cap;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 3px;
    cursor: pointer;
}


/* Estilos para los botones dentro de los contenedores */
.contenedor .boton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 40px;
    border-radius: 2cap;
    font-size: 18px;
}

.botones {
    margin-top: 80px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.botones button {
    margin-bottom: 15px;
    border-radius: 4cap;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-right: 15px;
    box-shadow: 0px 0px 10px rgba(6, 101, 202, 0.5);
    background-color: rgb(211, 229, 245);
}

.botones button:hover {
    background-color: rgb(81, 157, 224);
    color: white;
}

/*************************/

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    background-image: url('../imagen/fondoderrota.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 200px;
    color: white;
    border-radius: 3cap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.5);
}

.icono-ayuda{
    width: 80px;
}

.modal-buttons {
    text-align: center;
    margin-top: 50px;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #505050;
    background-color: rgba(30, 68, 255, 0.747);
    border-radius: 1cap;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Playfair Display', cursive;
}

.modal-content img {
    width: 100%;
    height: auto;
}


.modal-buttons button:hover {
    background-color: rgb(119, 217, 255);
    color: #000;
    transform: scale(1.1);
}

/* Estilos del modal */
.modaldato {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semi-transparente */
}

/* Estilos del modal centrado */
.modal-contenido {
    background: linear-gradient(to bottom, #ADD8E6, #4169E1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    /* Habilitar scroll vertical si el contenido es demasiado largo */
}

.tabla-verbo {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-verbo th,
.tabla-verbo td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabla-verbo tr:hover {
    background-color: #ddd;
}

.cerrar-container {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cerrar {
    color: #FFF;
    /* Texto blanco */
    font-size: 24px;
}

.titulo-modal h2 {
    color: #FFF;
    /* Texto blanco */
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 10px;
}

.definicion p {
    color: #FFF;
    /* Texto blanco */
    font-size: 18px;
    margin-bottom: 20px;
}

.ejemplos h3 {
    color: #FFF;
    /* Texto blanco */
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFF;
    /* Texto blanco */
}

.modalp {
    font-size: 16px;
    color: #FFF;
    /* Texto blanco */
}

@keyframes corazonRoto {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.corazon-roto {
    animation: corazonRoto 1s ease forwards;
}

.modalNext {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.modalNext-content {
    background: linear-gradient(to top, #f88f32, #ffbb77);
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
    animation: modalFadeIn 0.5s ease-out;
    position: relative;
}
.modalNext.show {
    opacity: 1;
}

.modalNext.hide {
    opacity: 0;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modalNext-content p {
    font-size: 0.8em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    font-weight: bold;
}

/* Estilos para el icono de flecha */
#arrow-icon {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Animación para mover la flecha de izquierda a derecha */
@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Aplicar la animación a la flecha */
#arrow-icon {
    animation: moveArrow 2s ease infinite;
}

/* Estilos para el icono Mute */
#mute-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: #000000;
    display: none;
}

/* Estilos cuando se pasa el cursor sobre el icono */
#mute-icon:hover {
    fill: #655d5d;
}

#sound-icon{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: #000000;
    display: block;
}

@keyframes vibrarLogo {
    0% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(3px);
    }
}

@media screen and (max-width: 1309px) and (min-width: 935px) {
    body {
        margin: 0;
    }

    .container {
        max-width: 1289px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .texto {
        font-size: 18px;
    }

    .imagendato {
        display: none;
    }

    .info {
        margin-left: auto;
        padding: 7px;
        width: 120px;
        height: 20px;
        align-items: center;
        border: 2px solid #FFFFFF;
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    .info p {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 800;
        display: flex;
    }
    .modalNext-content p{
        font-size: 1.5em;
    }
    .info svg {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .oraciones {
        margin-left: 10%;
        float: left;
    }

    .oraciones p {
        font-size: 25px;
    }

    .botones {
        margin-top: 50px;
        flex-direction: column;
        float: right;
        margin-right: 20%;
    }

    .botones button {
        margin-bottom: 45px;
        margin-right: 15px;
    }

    .img {
        margin-top: 15px;
    }
}

@media (min-width: 1310px) {


    body {
        margin: 0;
    }

    .container {
        max-width: 1289px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .modalNext-content p{
        font-size: 1.5em;
    }
    .texto {
        font-size: 18px;
    }

    .imagendato {
        display: flex;
        position: absolute;
        width: 200px;
        height: auto;
        margin-left: 80%;
        margin-top: 8%;
        animation: zoomAnimacion 5s infinite alternate;
    }

    .info {
        margin-left: auto;
        padding: 7px;
        width: 120px;
        height: 20px;
        align-items: center;
        border: 2px solid #FFFFFF;
        display: flex;
        background-color: #FFFFFF;
        border-radius: 10px;
    }

    .info p {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 800;
        display: block;
    }

    .info svg {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    .oraciones {
        margin-left: 10%;
        float: left;
    }

    .oraciones p {
        font-size: 25px;
    }

    .botones {
        margin-top: 50px;
        margin-right: 400px;
        float: right;
        flex-direction: column;

    }

    .botones button {
        margin-bottom: 45px;
    }

    .img {
        margin-top: 15px;
    }



}

@keyframes zoomAnimacion {
    0% {
        transform: scale(1);
    }

    /* Estado inicial, sin zoom */
    50% {
        transform: scale(1.2);
    }

    /* Zoom al 120% a la mitad de la animación */
    100% {
        transform: scale(1);
    }

    /* Regresar al tamaño original al final de la animación */
}